export(crossdata)
export(ABC)
export(ABC.perm)
export(ABC.ts)
export(ABC.comb)
export(fixpoint)
export(ABC.plot)

import(stats)
import(graphics)
import(cmprsk)
importFrom(CIFsmry,CIFsm)
importFrom(boot,boot)

